
.cotainer {
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
}
#container {
  margin-top: 4.0em;
  background-color: rgba(50, 80, 132, 0.503);
}
/*
.cotainer h3 {
  font-weight: 300;
  color: blue;
  text-decoration: underline;
}*/

#tituloPrincipal {
  color: black;
  transition: ease-in-out .25s;
  text-decoration: seashell;
  font: 600;
}

body {
  text-align: center;
  background-color: gray;
  color: black;
} 

.titulosTablas {
  color: black;
}
.searchButton {
  cursor: pointer;
  transition: 0.25s ease-in-out;
  width: 10;
  height: 50px;
  font-size: 20px;
  color:white;
  background-color: lightblue;
  border-radius: 8px;
  outline: none;
}

.searchButton:hover {
  color: black;
}

img {
  border: 2px solid black;
  border-radius: 15px;
  opacity: 0.5;
  transition: 0.25s ease-in-out;
  width: 125;
  height: 150px;
}

img:hover {
  opacity: 1;
  cursor: pointer;
}
table{
  border: 1px solid #000;
  padding: 2px;
  width: 650px;
  align-items: center;
  border-color: #BDBDBD;
  color: aqua;
  animation-fill-mode: forwards;
}
.dat {
  color: aqua;
}

th, td {
  text-align: center;
  border: 1px solid black;
  padding: 4px;
  border-color: black;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.overlay {  
  background: rgba(0,0,0,.3);
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
   visibility: hidden;   
  }
  .overlay.active {
  visibility: visible;
  }
  
  
  .popup {
  background-color: rgb(129, 154, 182);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  width: 630px;
  height: 430px;
  transition: .4s ease all;
  transform: scale(0.7);
  opacity: 0;
  }
  
  .popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: .3s ease all;
  color: #BBBBBB;
  
  }
  
  .popup .btn-cerrar-popup:hover {
  color: #000;
  } 
  
  .popup h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
  
  }
  .popup h3 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
  }
  
  p { display:inline; }
  
  p{
    opacity: 0;
    
  }
  
  .titulosDetalles{
    color: white;
  }
  
  
  .popup.active {opacity: 1; transform: scale(1);}
  .popup.active h1 { animation: entradaTitulo .8s ease .5s forwards; }
  .popup.active h3 { animation: entradaSubtitulo .8s ease .5s forwards; }
  .popup.active p { animation: entradaSubtitulo .8s ease .5s forwards; }
  
  @keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  
  to {
    transform: translateY(0);
    opacity: 1;
  }
  }
  
  @keyframes entradaSubtitulo {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  footer{
    clear: both;
    display: block;
    position: absolute bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
  }