.cotainer {
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
}

.cotainer h3{
  font-weight: 300;
  color: blue;
  text-decoration: underline;
}

#tituloPrincipal {
  color: black;
}
body {
  text-align: center;
  background-color: gray;
  color: black;
} 

.titulosTablas {
  color: black;
}
.searchButton {
  cursor: pointer;
  transition: 0.25s ease-in-out;
  width: 10;
  height: 50px;
  font-size: 20px;
  color:white;
  background-color: lightblue;
  border-radius: 8px;
  outline: none;
}

.searchButton:hover {
  color: black;
}

img {
  border: 2px solid black;
  border-radius: 20px;
  opacity: 0.5;
  transition: 0.25s ease-in-out;
  width: 125;
  height: 150px;
}

img:hover {
  opacity: 1;
}
table{
  border: 1px solid #000;
  padding: 2px;
  align-items: center;
  border-color: #BDBDBD;
}


th, td {
  text-align: center;
  border: 1px solid black;
  padding: 4px;
  border-color: black;
  color: #E6E6E6;
}
